@model THI_WEB.Models.Sanpham

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanpham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanpham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiBat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiBat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhanLoaiSanPham.TenPhanLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhanLoaiSanPham.TenPhanLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SanphamID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
